html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
  background: #ddd;
  font-family: roboto;
  margin: 0px;
}
#container{

}
#logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
#logopng{
  width: 180px; 
  height:113px;
}
h1{
  text-align: center;
  font-size: 72px;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
}
#menu{
  display: flex;
  flex-wrap:wrap;
  gap: 50px;
  justify-content: center;
  padding-bottom: 15px;
}
.menu_it{
  font-size: 24px;
  background:#259BA3;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}
.menu_it:hover{
  background:#1A676C;
}
h2{
  margin: 0px;
  padding: 10px;
}
#top_menu{
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
  background:#20848A ;
}
.row1{
  background:#E2FDFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 50px;
  justify-content: center;
}
#right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:523px ;
}
#text1{
  background: #259BA3;
  border-radius: 27px;
  text-align: center;
  font-size: 36px;
  color: white;
  padding: 10px;
}
#text2{
  text-align: center;
  background: #1A676C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  font-size: 64px;
  color: white;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#text2:hover{
  background: #259BA3;
}
#text3{
  width: 481px;
  background: #259BA3;
  border-radius: 27px;
  text-align: center;
  font-size: 36px;
  color: white;
  padding: 10px;

}
#row2{
  background: #20848A;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
#text4{
  color: #232323;
  width: 485px;
  font-size: 36px;
  text-align: center;
}
#row3{
  background:#E2FDFF;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
}
#text5{
  border-radius: 16px;
  color: white;
  font-size: 36px;
  background: #259BA3;
  text-align: center;
  padding: 10px;
}
#row4{
  background:#E2FDFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
#text6{
  border-radius: 16px;
  color: white;
  font-size: 36px;
  background: #259BA3;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
#text7{
  border-radius: 16px;
  color: white;
  font-size: 58px;
  background: #1A676C;
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#text7:hover{
  background: #259BA3;
}
.row5{
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  justify-content: center;
  padding: 20px;
}
#footer{
background:#104144 ;
display: flex;
flex-direction: row;
}
#copy_rights{
  padding: 25px;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-self: center;
}
#photo1{
  max-width: 670px;
  height: auto;
  border-radius: 16px;
}
#photo2{
width: 682px;
height: auto; 
border-radius: 16px;
}

#photo3{
width: 616px;
height: auto;
border-radius: 16px
}
#photo4{
width: 552px;
height: 257px;
border-radius: 16px;
}
#photo5{
width: 552px;
height: 257px;
border-radius: 16px;
}
#icons{
  align-self: center;
  margin-left: auto;
  flex-wrap: wrap;
  padding: 15px;
  display: flex;
  grid-column-gap: 15px;
}
#facebook:hover{
  filter: brightness(130%);
}
#snap:hover{
  filter: brightness(130%);
}
#kickstarter:hover{
  filter: brightness(130%);
}
#insta:hover{
  filter: brightness(130%);
}
@media (max-width: 550px )
{
  h1{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #text7{
    font-size: 30px;
  }
  .menu_it{
    font-size: 14px;
  }
  #menu{
    gap:  15px;
  }
  #text1{
    font-size: 20px;
  }
  #text2{
    font-size: 30px;
  }
  .row1{
    padding: 20px;
    padding-bottom: 40px;
  }
  #text4{
    font-size: 20px;
  }
  #text5{
    font-size: 20px;
  }
  #text6{
    font-size: 25px;
  }
  #row2{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #photo1{
    max-width: 100%;
    max-height: 100%;
  }
    #photo2{
    max-width: 100%;
    max-height: 20%;
  }
    #photo3{
    max-width: 100%;
    max-height: 100%;
  }
    #photo4{
    max-width: 100%;
    max-height: 100%;
  }
    #photo5{
    max-width: 100%;
    max-height: 100%;
  }
} 